/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.text-shadow {
  text-shadow: 3px 3px 6px #000;
}

.food-item-card {
  border: 5px double rgb(39, 37, 37);
}

.food-item-card img {
  max-height: 25dvh;
  height: auto;
  width: 100%;
}
